node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.package-lock.json
/.idea/copilot/chatSessions/00000000000.xd
/.idea/copilot/chatSessions/blobs/version
/.idea/copilot/chatSessions/xd.lck
